<!-- <p>dashboard works!</p> -->
<div class="main">
    <div class="map-portion">
        <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>

    </div>

    <div class="row first_row">
        <div class="col-sm" style="margin-left: 10px;margin-top: 10px;">
            <div class="crd-item row">
                <div class="col-4">
                    <div class="test rounded-circle">
                        <i class="fas fa-user fa-2x"></i>
                        <div class="small-circle rounded-circle"></div>
                    </div>
                </div>
                <div class="col-8">
                    <h5 class="card-title">John William<br>CR 88956</h5>
                    <p>11th April 2021,8.24pm<br>1 hr 40min</p>
                    <div class="d-flex" style="width: 100%;">
                        <span class="tracking">
                            <i class="fas fa-video"></i>  Live Track
                        </span>
                        <span class="trip">
                            <i class="fas fa-location-arrow"></i>  Trips
                        </span>
                    </div>
                    <div class="wrng-icn">
                        <i class="fas fa-exclamation-triangle" style="color: red;"></i><i class="fas fa-exclamation-triangle" style="color: yellow;"></i>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="col-sm"  style="margin-left: 10px;margin-top: 10px;">
            <div class="crd-item row" style="background-color:  rgb(34, 34, 71);">
                <div class="col-4">
                    <div class="test rounded-circle" style="background-color: lightblue;">
                        <i class="fas fa-user fa-2x"></i>
                        <div class="small-circle rounded-circle" style="background-color: red;"></div>
                    </div>
                </div>
                <div class="col-8">
                    <h5 class="card-title" style="color: white;">John William<br>CR 88956</h5>
                    <p style="color: white;">11th April 2021,8.24pm<br>1 hr 40min</p>
                    <div class="d-flex" style="width: 100%;">
                        <span class="tracking" style="background-color: lightblue;color:  rgb(34, 34, 71);">
                            <i class="fas fa-video" style="color:  rgb(34, 34, 71);"></i>  Live Track
                        </span>
                        <span class="trip" style="background-color: lightblue;color:  rgb(34, 34, 71);">
                            <i class="fas fa-location-arrow" style="color:  rgb(34, 34, 71);"></i>  Trips
                        </span>
                    </div>
                    <div class="wrng-icn">
                        <i class="fas fa-exclamation-triangle" style="color: red;"></i><i class="fas fa-exclamation-triangle" style="color: yellow;"></i>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-sm"  style="margin-left: 10px;margin-top: 10px;">
            <div class="crd-item row" >
                <div class="col-4">
                    <div class="test rounded-circle">
                        <i class="fas fa-user fa-2x"></i>
                        <div class="small-circle rounded-circle"></div>
                    </div>
                </div>
                <div class="col-8">
                    <h5 class="card-title">John William<br>CR 88956</h5>
                    <p>11th April 2021,8.24pm<br>1 hr 40min</p>
                    <div class="d-flex" style="width: 100%;">
                        <span class="tracking">
                            <i class="fas fa-video"></i>  Live Track
                        </span>
                        <span class="trip">
                            <i class="fas fa-location-arrow"></i>  Trips
                        </span>
                    </div>
                    <div class="wrng-icn">
                        <i class="fas fa-exclamation-triangle" style="color: red;"></i><i class="fas fa-exclamation-triangle" style="color: yellow;"></i>
                    </div>
                    
                </div>
            </div>
        </div>  
       
    </div>
    <div class="row second_row">
        <div class="col-sm" style="margin-left: 10px;margin-top: 10px;">
            <div class="crd-item row">
                <div class="col-3">
                    <div class="test rounded-circle bg-info">
                        <i class="fas fa-truck fa-2x"></i>
                        <div class="small-circle rounded-circle"></div>
                    </div>
                </div>
                <div class="col-4">
                    <h5 class="card-title" style="margin-bottom:0%">CR 88956<br>John William</h5>
                    <p>11th April 2021,8.24pm<br>1 hr 40min</p>
                    <div class="">
                        <div class="tracking bg-info">
                            <i class="fas fa-video"></i>  Live Track
                        </div>
                        <div class="d-flex">
                            <div class="trip bg-info">
                                <i class="fas fa-location-arrow"></i>  Trips
                            </div>
                            <span style="margin-top: 15px;">
                                <i class="fas fa-exclamation-triangle" style="color: red;"></i>
                                <i class="fas fa-exclamation-triangle" style="color: yellow;"></i>
                            </span>
                          
                        </div>
                    </div>
                </div>
                <div class="col-5 icn-list">
                    <i class="fas fa-stopwatch"></i> ETA:10:24AM-10:45AM<br>
                    <i class="fas fa-location-arrow"></i> Travel:12772KM<br>
                    <i class="fas fa-arrow-down"></i>  Condition:Average<br>
                    <i class="fas fa-rocket"></i>  Total trip:344<br>
                    <i class="fas fa-clock"></i>  Total time:6464hr
                </div>
            </div>
        </div>
        <div class="col-sm" style="margin-left: 10px;margin-top: 10px;">
            <div class="crd-item row">
                <div class="col-3">
                    <div class="test rounded-circle bg-info">
                        <i class="fas fa-truck fa-2x"></i>
                        <div class="small-circle rounded-circle"></div>
                    </div>
                </div>
                <div class="col-4">
                    <h5 class="card-title" style="margin-bottom:0%">CR 88956<br>John William</h5>
                    <p>11th April 2021,8.24pm<br>1 hr 40min</p>
                    <div class="" style="width: 100%;">
                        <div class="tracking bg-info">
                            <i class="fas fa-video"></i>  Live Track
                        </div>
                        <div class="d-flex">
                            <div class="trip bg-info">
                                <i class="fas fa-location-arrow"></i>  Trips
                            </div>
                            <span style="margin-top: 15px;">
                                <i class="fas fa-exclamation-triangle" style="color: red;"></i>
                                <i class="fas fa-exclamation-triangle" style="color: yellow;"></i>
                            </span>
                          
                        </div>
                </div>
            </div>
            <div class="col-5  icn-list">
                <i class="fas fa-stopwatch"></i> ETA:10:24AM-10:45AM<br>
                <i class="fas fa-location-arrow"></i>  Travel:12772KM<br>
                <i class="fas fa-arrow-down"></i>  Condition:Average<br>
                <i class="fas fa-rocket"></i> Total trip:344<br>
                <i class="fas fa-clock"></i>  Total time:6464hr
            </div>
        </div>
    </div>
    </div>

    <div class="third-row row">

        <div class="col-sm activityChart">
                <div class="row">
                    <div class="col-7">
                        <div> <h4 style="margin-left: 20px;margin-top: 10px;">Activity Chart</h4></div>
                        <div class="d-flex">
                            <div class="test rounded-circle bg-info">
                                <i class="fas fa-truck "></i>
                            </div>
                            <div class="order-show">
                                Order No.365 Pickup
                            </div>
                        </div>
                        <div class="d-flex">
                                <i class="fas fa-map-marker-alt fa-3x " style="margin-left: 15px;margin-top: 10px;"></i>
                            <div class="order-show_del">
                                Order No.365 Delivered
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="test rounded-circle bg-info">
                                <i class="fas fa-truck "></i>
                            </div>
                            <div class="order-show">
                                Order No.365 Pickup
                            </div>
                        </div>
                        <div class="d-flex">
                                <i class="fas fa-map-marker-alt fa-3x " style="margin-left: 15px;margin-top: 10px;"></i>
                            <div class="order-show_del">
                                Order No.365 Delivered
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="test rounded-circle bg-info">
                                <i class="fas fa-truck "></i>
                            </div>
                            <div class="order-show">
                                Order No.365 Pickup
                            </div>
                        </div>
                        <div class="d-flex">
                                <i class="fas fa-map-marker-alt fa-3x " style="margin-left: 15px;margin-top: 10px;"></i>
                            <div class="order-show_del">
                                Order No.365 Delivered
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="test rounded-circle bg-info">
                                <i class="fas fa-truck "></i>
                            </div>
                            <div class="order-show">
                                Order No.365 Pickup
                            </div>
                        </div>
                        <div class="d-flex">
                                <i class="fas fa-map-marker-alt fa-3x " style="margin-left: 15px;margin-top: 10px;"></i>
                            <div class="order-show_del">
                                Order No.365 Delivered
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-5">
                        <div class="more-div bg-info" style="margin-top: 15px;width: 50%;text-align: center;"> More <i class="fas fa-caret-right"></i></div>
                        <div class="order">10:00 AM</div>
                        <div class="deliver">10:30 AM</div>
                        <div class="order">10:00 AM</div>
                        <div class="deliver">10:30 AM</div>
                        <div class="order">10:00 AM</div>
                        <div class="deliver">10:30 AM</div>
                        <div class="order">10:00 AM</div>
                        <div class="deliver">10:30 AM</div>
                    </div>
                </div>
        </div>
        
        <div class="col-sm">
                <div class="row" style="border: 2px solid lightblue;margin-top: 10px;border-radius: 10px;margin-left: 10px;">
                    <div class="col-4">
                        <div> <h4 >Current Alerts</h4></div>
                    <div class=" d-flex">
                        <i class="fas fa-exclamation-triangle" style="color: yellow;margin-top: 5px;margin-right: 10px;"></i>
                        Warning #1

                    </div>
                    <div class=" d-flex" style="margin-top: 10px;">
                        <i class="fas fa-exclamation-triangle" style="color: green;margin-top: 5px;margin-right: 10px;" ></i>
                        Warning #1
                    </div>
                    <div class="d-flex" style="margin-top: 10px;">
                        <i class="fas fa-exclamation-triangle" style="color: red;margin-top: 5px;margin-right: 10px;"></i>
                        Warning #1
                    </div>
                    <div class="d-flex" style="margin-top: 10px;">
                        <i class="fas fa-exclamation-triangle" style="color: yellow;margin-top: 5px;margin-right: 10px;"></i>
                        Warning #1
                    </div>
                </div>

                    <div class="col-4" style="margin-top: 54px;">
                              <div class="status" style="padding-top: 0px;">
                                    Average
                              </div>
                              <div class="status">
                                Normal
                              </div>
                              <div class="status">
                               Critical
                             </div>
                             <div class="status">
                                Average
                             </div>
                    </div>
                    <div class="col-4">
                        <div class=" bg-info" style="text-align:center;border-radius:10px;margin-top: 10px;"> More <i class="fas fa-caret-right"></i></div>
                         <div class="icon-row d-flex">
                            <i class="fas fa-trash-alt"></i>
                            <i class="fas fa-edit"></i>
                            <i class="fas fa-arrow-circle-right"></i>
                         </div>
                         <div class="icon-row_one d-flex">
                            <i class="fas fa-trash-alt"></i>
                            <i class="fas fa-edit"></i>
                            <i class="fas fa-arrow-circle-right"></i>
                         </div>
                         <div class="icon-row_two d-flex">
                            <i class="fas fa-trash-alt"></i>
                            <i class="fas fa-edit"></i>
                            <i class="fas fa-arrow-circle-right"></i>
                         </div>
                         <div class="icon-row_three d-flex">
                            <i class="fas fa-trash-alt"></i>
                            <i class="fas fa-edit"></i>
                            <i class="fas fa-arrow-circle-right"></i>
                         </div>
                    </div>
                </div>

                
                <div class="row" style="border: 2px solid lightblue;margin-top: 10px;border-radius: 10px;margin-left: 10px;padding-bottom: 10%;">
                    <div class="col-3">
                        <h4 style="margin-top: 10px;">Calender</h4>
                        <div class="addEvent">ADD EVENT</div>
                        <div class="vehicle">Vehicle 1</div>
                        <div class="vehicle">Vehicle </div>
                        <div class="vehicle">Vehicle 3</div>
                    </div>

                    <div class="col-9 calender">
                            <!-- <input type="date"> -->
                            
                            <div class="col-md-4 date_setter">
                                <div class="btn-group">
                                    <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
                                        <!-- Previous -->
                                        <i class="fas fa-caret-left"></i>
                                    </div>
                                    <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                                        {{todayDate|date}}
                                    </div>
                                    <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
                                        <!-- Next -->
                                        <i class="fas fa-caret-right"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="cal_area">
                                <mwl-calendar-month-view (dayClicked)="dayClicked($event.day)" [viewDate]="viewDate">
                                </mwl-calendar-month-view>
                            </div>
                           
                    </div>
                  
                </div>
    </div>
</div>
   
    <div class="row ">
        <div class="col-sm" style="margin-left: 10px;margin-top: 10px;">
            <div class=" row">
                
                <div class="col-4">
                    <h4>Vehicles Chart</h4>
                    <div class="d-flex">
                     <div class="green" style="margin-top: 25px;"> </div>
                     <div class="" style="margin-left: 20px;margin-top: 20px;">Active  </div>
                    </div>
                    <div class="d-flex">
                     <div class="orange" style="margin-top: 5px;"> </div>
                     <div class="" style="margin-left: 20px;">Online </div>
                    </div>
                    <div class="d-flex">
                     <div class="red" style="margin-top: 5px;"> </div>
                     <div class="" style="margin-left: 20px;">Waiting  </div>
                    </div>
                </div>
                <div class="col-8 ">
                    <div id="chart">
                        <apx-chart
                            [series]="chartOptions.series"
                            [chart]="chartOptions.chart"
                            [plotOptions]="chartOptions.plotOptions"
                            [labels]="chartOptions.labels"
                            [legend]="chartOptions.legend"
                            [colors]="chartOptions.colors"
                            
                          ></apx-chart>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-sm" style="margin-left: 10px;margin-top: 10px;">
            <div class=" row">
                <div class="col-4">
                    <h4>Drivers Chart</h4>
                    <div class="d-flex" style="margin-top: 15px;">
                     <div class="green" style="margin-top: 5px;"> </div>
                     <div class="" style="margin-left: 20px;">Active  </div>
                    </div>
                    <div class="d-flex">
                     <div class="orange" style="margin-top: 5px;"> </div>
                     <div class="" style="margin-left: 20px;">Online </div>
                    </div>
                    <div class="d-flex">
                     <div class="red" style="margin-top: 5px;"> </div>
                     <div class="" style="margin-left: 20px;">Waiting  </div>
                    </div>
            </div>
            <div class="col-8">
                <div id="chart">
                    <apx-chart
                        [series]="chartOptions.series"
                        [chart]="chartOptions.chart"
                        [plotOptions]="chartOptions.plotOptions"
                        [labels]="chartOptions.labels"
                        [legend]="chartOptions.legend"
                        [colors]="chartOptions.colors"
                        
                      ></apx-chart>
                    </div>
            </div>
        </div>
    </div>
    </div>

    <div class="row">
        <div class="col-sm orderStatusCrd" >
            <h4>Order Status</h4>
         
                <div class="progress progress_one" style="margin-top: 25px;">
                    <div class="progress-bar progress-bar_one bg-success" role="progressbar" style="width: 25%;"
                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p>Complete Orders 25%</p>

                  <div class="progress progress_one">
                    <div class="progress-bar progress-bar_one bg-warning" role="progressbar" style="width: 50%;"
                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p>Complete Orders 50%</p>

                  <div class="progress progress_one">
                    <div class="progress-bar progress-bar_one bg-danger" role="progressbar" style="width: 75%;"
                        aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p>Complete Orders 75%</p>
           
        </div>
        <div class="col-sm bg-info orderStatusCrd_one" >
            <h4>Fuel Consumption</h4>
            <div>
                <div style="display: block">
                  <canvas baseChart
                          [datasets]="barChartData"
                          [labels]="barChartLabels"
                          [options]="barChartOptions"
                          [legend]="barChartLegend"
                          [chartType]="barChartType"
                          [colors]="barColors">
                         
                  </canvas>
                </div>
              </div>
          
        </div>
    </div>
  
</div>